{% extends "layout.html" %}

{% block title %}
	{{group.name}} Resources 
{% endblock title %}

{% block body %}
	{% include "navbar.html" with home="" tips="" resources="active" %}

	<div class="container">	
		<ul class="list-unstyled">
	  		<li><h2>{{ group.name }}</h2>
	    		<ul>
	    			{% for r in resources %}
	      				<h4><a href="{{ r.link }}"><li>{{ r.name }}</li></a></h4>
						<tiny>{{ r.description }}</tiny>
	    			{% endfor %}
	    		</ul>
	  		</li>
	  	</ul>
  	</div>
{% endblock body %}