{% extends "layout.html" %}

{% block title %}
	Pro Coding Tips
{% endblock title %}

{% block body %}
	{% include "navbar.html" with home="active" %}
	<div class="container">
		<img src="http://logos.cs.uic.edu/reed/Wordle%20Computer%20Science.jpg" alt="Coding" class="img-responsive center-block">
		<br />
		<div class="row">
			<h3 class="col-xs-12 text-center">Curiosity == Knowledge</h3>
		</div>
		<div class="row">
			<h4 class="col-xs-12">
				Pro Coding Tips is a project that aims to help developers with getting started on coding while assisting them with challenges they may face throughout their own experience.
			</h4>
		</div>
		<a href="{% url 'tips:all-tips' %}" class="btn btn-block btn-primary">Read Some Tips</a>
	</div>
	<div class="footer" style="margin-top: 30px;"></div>
{% endblock body %}