{% extends "layout.html" %}

{% block title %}
	All Tips
{% endblock title %}

{% block body %}
	{% for tip in tips %}
	
	<div class="container">
		<bold><h2>{{ tip.title }}</h2></bold>
		<h5 style="color: gray;">By: {{ tip.author }}</h5>
		<h4>Tip {{ tip.order }} of {{ series_length }} of Series {{ tip.series.name }}</h4>
		<!--
		<h4>
		Resources we will be using:
		{ % for resources in tip % }

		{ % endfor %}
		</h4>
		-->
	</div>


		
		<p>{{ tip.body }}</p>
		<h4>Post on: {{ tip.pub_date }}</h4>
		<h4>Likes: {{ tip.likes }} Dislikes:{{ tip.dislikes }}</h4>
	{% endfor %}
{% endblock body %}