{% for tip in tips %}
	<bold><h2 class="title">{{ tip.title }}</h2></bold>
	<h5 style="color: gray;">By: {{ tip.author }}</h5>
	<h4>Tip {{ tip.order }} of {{ series_length }} in Series {{ tip.series.name }}</h4>
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Resources Used:</h3>
				</div>
				<div class="panel-body">
					<ul class="resources-{{ tip.id }}">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<p>{{ tip.body|safe }}</p>
	<h5>Post on: {{ tip.pub_date }}</h5>
	<h5>
		<span class="likes-span-{{ tip.id }}">{{ tip.likes }}</span>
		&nbsp;<span class="glyphicon glyphicon-thumbs-up like" name="{{ tip.id }}"></span>
		<span class="dislikes-span-{{ tip.id }}">{{ tip.dislikes }}</span>
		&nbsp;<span class="glyphicon glyphicon-thumbs-down dislikes" name="{{ tip.id }}"></span>
	</h5>
{% endfor %}

<script>
	function getResources() {
		var tips = [];
		$('.title').each((i, obj) => {
			var tipTitle = obj.textContent;
			tips.push(tipTitle);
		});

		for (var i in tips) {
			var tip = tips[i];
			$.ajax({
					type: 'POST',
					url: '/tips/sort-resources/',
					data: {'tip': tip, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
					dataType: 'json',
					success: function(response) {
						alert('SUCCESS');
						var id = response['id'];
						var resources = response['resources'];
						for (var i in resources) {
							var resource = resources[i];
							$(`.resources-${id}`).append(`<li><h5>${resource}</h5></li>`);
						}
					},
					error: (rs, e) => {
						alert(rs);
						console.log(rs);
					}
			})
		}
	}
</script>
<script>
	$(document).ready(function() {
		getResources();

		$('.like').click(function() {
			$.ajax({
				type: 'POST',
				url: "/tips/likes/",
				data: {'id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				dataType: 'json',
				success: function(response) {
					var likes = response['likes'];
					var id = response['id'];
					$('.likes-span-' + id).text(likes);
				},
				error: function(rs, e) {
					console.error(rs);
				}
			});
		});

		$('.dislikes').click(function() {
			$.ajax({
				type: 'POST',
				url: "/tips/dislikes/",
				data: {'id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				dataType: 'json',
				success: function(response) {
					var dislikes = response['dislikes'];
					var id = response['id'];
					$('.dislikes-span-' + id).text(dislikes);
				},
				error: function(rs, e) {
					console.error(rs);
				}
			});
		});
	});
</script>